<!DOCTYPE html>
<html>
    <body>
        <h1>CALCULATOR APP FOR DOCKER PROJECT</h1>
        <form action="" method="post">
            {% csrf_token %}
            <p>First number</p>
            <input type="number" id="first" name="first">
            <p>Second number</p>
            <input type="number" id="second" name="second">
            <div class="buttons">
                <button type="submit" formmethod="post" name="add">ADD</button>
                <button type="submit" formmethod="post" name="subtract">SUBTRACT</button>
                <button type="submit" formmethod="post" name="multiply">MULTIPLY</button>
                <button type="submit" formmethod="post" name="divide">DIVIDE</button>
        </div>
        </form>
        
        {% if result %}
            <p>Your result is {{ result }}</p>
        {% endif %}
    </body>
</html>