<!DOCTYPE html>
<html>
    <body>
        <h1>CALCULATOR APP FOR DOCKER PROJECT</h1>
        <a href="/auth/register"><button>Register</button></a>
        {% if user.is_authenticated %}
            <a href="/auth/logout"><button>Logout</button></a>
        {% else %}
            <a href="/auth/login"><button>Login</button></a>
        {% endif %}


        <form action="" method="post">
            {% csrf_token %}
            <p>First number</p>
            <input type="number" id="first" name="first">
            <p>Second number</p>
            <input type="number" id="second" name="second">
            <div class="buttons">
                <button type="submit" formmethod="post" name="operation" value="add">ADD</button>
                <button type="submit" formmethod="post" name="operation" value="subtract">SUBTRACT</button>
                <button type="submit" formmethod="post" name="operation" value="multiply">MULTIPLY</button>
                <button type="submit" formmethod="post" name="operation" value="divide">DIVIDE</button>
            </div>
        </form>
        
        {% if result %}
            <p>Your result is {{ result }}</p>
        {% endif %}
        <!--{% if user.is_authenticated %}-->
        <p>Previous operations</p> 
            {% for user_result in user_results %}
                    {% if user_result.operation == "add" %}
                        <p>{{ user_result.num1 }} + {{ user_result.num2 }} = {{ user_result.result }}</p>
                    {% elif user_result.operation == "subtract" %}
                        <p>{{ user_result.num1 }} - {{ user_result.num2 }} = {{ user_result.result }}</p> 
                    {% elif user_result.operation == "multiply" %}
                        <p>{{ user_result.num1 }} * {{ user_result.num2 }} = {{ user_result.result }}</p>
                    {% elif user_result.operation == "divide" %}
                        <p>{{ user_result.num1 }} / {{ user_result.num2 }} = {{ user_result.result }}</p>
                    {% endif %}
            {% endfor %}
        <!--{% endif %}-->
    </body>
</html>